<tr>
        <td><%= link_to event.description, event_path(event) %> - <%= event.date.to_date.to_s(:short) %>, <%= event.time.to_s(:time) %> - <%= event.venue.town %> </td>
        <td>
          <%= link_to 'Edit', edit_event_path(event), :class => 'btn btn-mini' %>
          <%= link_to 'Destroy', event_path(event), :method => :delete, :confirm => 'Are you sure?', :class => 'btn btn-mini btn-danger' %>
        </td>
</tr>