
<%= simple_form_for @event, :html => { :class => 'form-horizontal' } do |f| %>
  <fieldset>
    <%= f.association :venue, hint: add_new_venue %> 
    <%= f.input :description, hint: character_count %>
    
    <%= f.input :date, :as => :string %>
    <%= f.input :time, :prompt => {:minute => 'Minute', :hour => 'Hour'}, :minute_step => 15 %>
    <%= f.input :price, :input_html => { :maxlength => 15 }%>
    <div class="form-actions">
      <%= f.submit nil, :class => 'btn btn-primary' %>
      <%= link_to 'Cancel', events_path, :class => 'btn' %>
    </div>
  </fieldset>
<% end %>

<script type="text/javascript"> var maxLen = 89; $(function() {   setCharCount($('#event_description')); }); $('#event_description').live('keyup keydown', function(e) { setCharCount($(this));  });  function setCharCount(object) {   var left = maxLen - object.val().length;  $('#char-count').html(left); }</script>