<%= simple_form_for @event, :html => { :class => 'form-horizontal' } do |f| %>
  <fieldset>
    <legend><%= controller.action_name.capitalize %> Event</legend>

    <%= f.input :description, :input_html => {:maxlength => 95 }%>
    <%= f.input :date, :as => :string %>
    <%= f.input :time, :prompt => {:minute => 'Minute', :hour => 'Hour'}, :minute_step => 15 %>
    <%= f.association :venue, hint: add_new_venue %> 
    <div class="controls help-block">
      <%= f.hint  submit_price %><br>
    </div>
    <div id="price_input" style="display: none">
      <%= f.input :price, :input_html => { :maxlength => 15 }%>
    </div>

    <div class="form-actions">
      <%= f.submit nil, :class => 'btn btn-primary' %>
      <%= link_to 'Cancel', events_path, :class => 'btn' %>
    </div>
  </fieldset>
<% end %>