
<%= simple_form_for @event, :html => { :class => 'form-horizontal' } do |f| %>
  <fieldset>
    <%= f.association :artist, hint: add_new_artist, :prompt => "select artist/band" %>  
    <%= f.association :venue, hint: add_new_venue, :prompt => "select venue" %>
    <%= f.input :date, :as => :string %>
    <%= f.input :time, :prompt => {:minute => 'Minute', :hour => 'Hour'}, :minute_step => 15, label: "Start time" %>    
    <%= f.input :price, :input_html => { :maxlength => 15 }%>
    <div class="form-actions">
      <%= f.submit 'Post concert', :class => 'btn btn-primary' %>
      <%= link_to 'Cancel', events_path, :class => 'btn' %>
    </div>
  </fieldset>
<% end %>

