<h1>Events</h1>
<table class="table table-striped">
  <thead>
    <tr>
      <th>Description</th>
      <th>Date</th>
      <th>Time</th>
    </tr>
  </thead>
  <tbody>
    <% @events.each do |event| %>
      <tr>
        <td><%= link_to event.description, event_path(event) %></td>
        <td><%= event.date.to_date %></td>
        <td><%= event.time.to_s(:time) %></td>
        <td>
          <%= link_to 'Edit', edit_event_path(event), :class => 'btn btn-mini' %>
          <%= link_to 'Destroy', event_path(event), :method => :delete, :confirm => 'Are you sure?', :class => 'btn btn-mini btn-danger' %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to 'New', new_event_path, :class => 'btn btn-primary' %>
