<% provide :title, @event.description %>
<div class="span8">
	<p>
	<h3><%= @event.description %></h3>
	</p>
	
	<%= @event.date.to_date.to_s(:short) %>, 
	<%= @event.time.to_s(:time) %><br>
	<%= link_to complete_address(@event), venue_path(@event.venue) %> - <%= @event.venue.town %>
	
	<br>
	<% if @event.price? %>
	Entrance <%= @event.price %>
	<%end%>
	
	<div class="form-actions">
	    <a href="https://twitter.com/share" class="twitter-share-button" data-lang="en" data-text="<%=tweet_text(@event)%>" data-url="<%=shoort_url(request.url)%>" data-counturl="<%=shoort_url(request.url)%>" data-size="large">Tweet</a>

    <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>

	</div>
	  <%= link_to 'Back', events_path, :class => 'btn'  %>
	  <%= link_to 'Edit', edit_event_path(@event), :class => 'btn' %>
	  <%= link_to 'Delete', event_path(@event), :method => 'delete', :confirm => 'Are you sure?', :class => 'btn btn-danger' %>
</div>

<div class="span4">
	<div class="related_links">
	Related:
	</div>
	<br>
	<table class="table table-striped">
	  <tbody>
	<%= render @related_events %>
	  </tbody>

	</table>

</div>




