<div class="span7">
	<p>
	<h3><%= @event.description %></h3>
	</p>
	
	<%= @event.date.to_date.to_s(:short) %>, 
	<%= @event.time.to_s(:time) %><br>
	<%= link_to complete_address(@event), venue_path(@event.venue) %> - <%= @event.venue.town %>

	<br>
	<% if @event.price? %>
	Entrance <%= @event.price %>
	<%end%>
	
	<div class="form-actions">
	  <%= link_to 'Back', events_path, :class => 'btn'  %>
	  <%= link_to 'Edit', edit_event_path(@event), :class => 'btn' %>
	  <%= link_to 'Delete', event_path(@event), :method => 'delete', :confirm => 'Are you sure?', :class => 'btn btn-danger' %>
	</div>
</div>

<div class="span5">

	<br>
	<table class="table table-striped">
	  <tbody>
	<%= render @related_events %>
	  </tbody>

	</table>
</div>

