<% provide :title, @event.description %>
<div class="span8">
	<div id ="event_details">
		<h3><%= @event.description %></h3>

		<%= @event.date.strftime("%a, %b %d") %>, 
		<%= @event.time.strftime("%I:%M %p") %><br>
		<%= render partial: "venues/venue_address"%>
		<br>
		<% if @event.price? %>
			<%= @event.price %><br>
		<%end%>
		<br>
		<% if @event.user && @event.user.uid != "568790501" %>
		<div class ="author" style="float:right">
			posted by <%= author(@event) %>
		</div>
		<%end%>
		<div class ="fbbuttons">
			<div class="fb-like" data-href="<%= request.url%>" data-send="true" data-layout="button_count" data-width="50" data-show-faces="true"></div>
		</div>
		<div class ="tweetit">
			 <a href="https://twitter.com/share" class="twitter-share-button" data-lang="en" data-text="<%=tweet_text(@event)%>" data-url="<%=shoort_url(request.url)%>" data-counturl="<%=shoort_url(request.url)%>" data-size="small" data-count = "none">Tweet</a>
			<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>	
		</div>
				<div class = "rsvp">

				RSVP:&nbsp; <%= link_to "Join", :controller => "events", :action => "attend", :event_id => @event.id, :event_url => shoort_url(request.url), :type => "attend" %> · 
		<%= link_to "Maybe", :controller => "events", :action => "attend", :event_id => @event.id, :event_url => shoort_url(request.url), :type => "consider" %>
		</div>


	</div>

		<div class="fb-comments" data-href="<%= request.url%>" data-num-posts="10" data-width="545"></div>
		<% if current_user && current_user == @event.user %>
			<div class="form-actions">
			  <%= link_to 'Back', events_path, :class => 'btn'  %>
			  <%= link_to 'Edit', edit_event_path(@event), :class => 'btn' %>
			  <%= link_to 'Delete', event_path(@event), :method => 'delete', :confirm => 'Are you sure?', :class => 'btn btn-danger' %>
			</div>
		<%end%>
</div>

<div class="span4">

	<% if @related_events != [] %>
		<div class="related_links">
		Related:
		</div>
		<br>
		<table class="table table-striped">
		  <tbody>
		<%= render @related_events %>
		  </tbody>
		</table>
	<%end%>
	<div class="related_links">
	Suggestions:
		<% @keywords.each do |keyword| %>
		 <%= link_to keyword, :action => "search", :q => keyword %>
		 <% if keyword != @keywords.last %>
		  ·
		  <% end %>
		<%end%> 
	</div>
	<br>
	<div class="related_links">
		<%= link_to "all concerts »", root_path %>
	</div>
</div>




