<%= simple_form_for @venue, :html => { :class => 'form-horizontal' } do |f| %>
  <fieldset>
    <%= f.input :name %>
    <%= f.input :street %>
    <%= f.input :postal_code, :input_html => {:maxlength => 5 }%>
    <div class="form-actions">
      <%= f.submit nil, :class => 'btn btn-primary' %>
      <%= link_to 'Cancel', venues_path, :class => 'btn' %>
    </div>
  </fieldset>
<% end %>
