<% provide :title, "Concert venues in New York City" %>
<div class="span8" style="margin-top:-45px">
<div id ="event_details">
<h3>Concert venues in New York City</h3>
</div>
<table class="table table-striped">
  <thead>
    <tr>
      <th>Name</th>
      <th>Town</th>
      <th>Upcoming events</th>
      <% if current_user && current_user.uid == "568790501" %>
        <th>Actions</th>
      <%end%>
    </tr>
  </thead>
  <tbody>
    <% @venues.each do |venue| %>
      <tr>
        <td><%= link_to venue.name, venue_path(venue) %></td>
        <td><%= venue.town %></td>
        <td><%= venue.events.where("date > ?",Time.now).size %></td>
        <td>
        <% if current_user && current_user.uid == "568790501" %>
          <%= link_to 'Edit', edit_venue_path(venue), :class => 'btn btn-mini' %>
          <%= link_to 'Destroy', venue_path(venue), :method => :delete, :confirm => 'Are you sure?', :class => 'btn btn-mini btn-danger' %>
        <%end%>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
 <% if current_user && current_user.uid == "568790501" %>
<%= link_to 'New', new_venue_path, :class => 'btn btn-primary' %>
<%end%>
</div>