

<% provide :title, @venue.name %>

<div class="span8">
	<div id ="event_details">

	<h3><%= @venue.name %></h3>

	<%= @venue.street %><%= link_to image_tag("external-link.gif"),"http://maps.google.de/maps?q=#{@venue.street}+#{@venue.postal_code}" %> (<%= @venue.town %>)
	<br><br>
		<div class ="fbbuttons">
			<div class="fb-like" data-href="<%= request.url%>" data-send="true" data-layout="button_count" data-width="50" data-show-faces="true"></div>
		</div>
		<div class ="tweetit">
			 <a href="https://twitter.com/share" class="twitter-share-button" data-lang="en" data-text="<%=vtweet_text(@venue)%>" data-url="<%=shoort_url(request.url)%>" data-counturl="<%=shoort_url(request.url)%>" data-size="small" data-count = "none">Tweet</a>
			<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>	
		</div>
</div>
<br> <br>
<ul class="nav nav-tabs">
<% if params[:time] == "today" %> 
	     <li class="active"> 
	     <%else%>
	     <li>
	     <%end%>
	    <%= link_to "Today", :time => "today" %></li>
	     <% if params[:time] == "tomorrow" %> 
	     <li class="active"> 
	     <%else%>
	     <li>
	     <%end%>
	    <%= link_to "Tomorrow", :time => "tomorrow" %></li>
	     <% if params[:time] == "week" %> 
	     <li class="active"> 
	     <%else%>
	     <li>
	     <%end%>
	    <%= link_to "This week", :time => "week" %></li>
	     <% if params[:time] == nil %> 
	     <li class="active"> 
	     <%else%>
	     <li>
	     <%end%>
	    <%= link_to "This month",venue_path(@venue) %></li>
	</ul>
	<table class="table table-striped">
	  <tbody>
	    <%= render @events %>
	  </tbody>
	</table>

	<% if current_user && current_user.uid == "568790501" %>
		<div class="form-actions">
		  <%= link_to 'Back', venues_path, :class => 'btn'  %>
		  <%= link_to 'Edit', edit_venue_path(@venue), :class => 'btn' %>
		  <%= link_to 'Delete', venue_path(@venue), :method => 'delete', :confirm => 'Are you sure?', :class => 'btn btn-danger' %>
		</div>
	<%end%>
</div>

<div class="span4">
	<div class="related_links">
	Related:
	</div>
	<br>
	<table class="table table-striped">
	  <tbody>
	<%= render @related_events %>
	  </tbody>

	</table>

</div>
