

<% provide :title, @venue.name %>

<div class="span8">

	<p>
	<h3><%= @venue.name %></h3>
	</p>

	<p>
	<%= @venue.street %><%= link_to image_tag("external-link.gif"),"http://maps.google.de/maps?q=#{@venue.street}+#{@venue.postal_code}" %> - <%= @venue.postal_code %> - <%= @venue.town %>
	</p>

	<table class="table table-striped">
	  <tbody>
	    <%= render @events %>
	  </tbody>
	</table>


	<div class="form-actions">
	  <%= link_to 'Back', venues_path, :class => 'btn'  %>
	  <%= link_to 'Edit', edit_venue_path(@venue), :class => 'btn' %>
	  <%= link_to 'Delete', venue_path(@venue), :method => 'delete', :confirm => 'Are you sure?', :class => 'btn btn-danger' %>
	</div>
</div>

<div class="span4">
<%= render "layouts/search" %>
	<div class="related_links">
	Related:
	</div>
	<br>
	<table class="table table-striped">
	  <tbody>
	<%= render @related_events %>
	  </tbody>

	</table>

</div>
