<!DOCTYPE html>

<html>
  <head>
    <title><%= full_title(yield(:title)) %></title>
     <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js" type="text/javascript"></script>
    <![endif]-->
    <%= stylesheet_link_tag    "application", :media => "all" %>
    <%= javascript_include_tag "application" %>
    <%= csrf_meta_tags %>
    <meta name="description" content="Classical music concerts in Berlin"/>     
    <meta name="keywords" content="Classical music, concerts, classical concerts, classic concerts, Berlin, stagely"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
  </head>
  <header>
  <ul class ="topbar">
    <div class="container">
      <div class="row">

        <li class="offset2 span1">
          <div id ="logo"><%= link_to "stage.ly", root_path%> </div>
        </li>
        <li class="offset5 span1">
          <div id ="search"><%= render "layouts/search" %></div>
        </li>
      </div>
    </div>
    </ul>

        

  </header>

  <body>

    <div id="fb-root"></div>
    <script>(function(d, s, id) {
      var js, fjs = d.getElementsByTagName(s)[0];
      if (d.getElementById(id)) return;
      js = d.createElement(s); js.id = id;
      js.src = "//connect.facebook.net/en_US/all.js#xfbml=1&appId=367315919957325";
      fjs.parentNode.insertBefore(js, fjs);
    }(document, 'script', 'facebook-jssdk'));</script>

    <div class="container">
      <% flash.each do |name, msg| %>
        <div class="alert alert-<%= name == :notice ? "success" : "error" %>">
          <a class="close" data-dismiss="alert">×</a>
          <%= msg %>
        </div>
      <% end %>
      <div class="row">
          <%= yield %>
        </div>
      </div>

  </body>
  <div class ="footer">
  <% if current_user %>
  Logged in as <%= current_user.email %>.
  <%= link_to "log out", logout_path %> -
  <%= link_to 'add an event', new_event_path%>
<% end %>

<br>
  <%= link_to "(c) stage.ly", "http://www.youtube.com/watch?v=NisCkxU544c"%> 
  </div>
</html>
